<header class="header">
	<img src="../img/logo.png" alt="" class="logo middle-y" ng-click="goHome()">
	<span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
	<span ng-click="forum()" class="middle-y"><p class="btn btn-header2">Forum</p></span>
	<span ng-click="kcenter()" class="middle-y"><p class="btn btn-header2">Knowledge Center</p></span>

	<span ng-click="dashboard()" class="middle-y"><p class="btn btn-header2">Contract</p></span>
	<span ng-click="dropdownMenu()" class="middle-y fa fa-gear"></span>

	<div class="dropdownMenu">
		<ul>
			<li ng-click="profile()"><p>Profile</p></li>
			<li ng-click="logout()"><p>Logout</p></li>
		</ul>
	</div>

</header>