<div class="kc-footer">
	<div class="footer-white">
		<ul>
			<li><p><a href="/about">ABOUT</a></p></li>
			<li><p><a href="http://blog.indiancreativeforum.com">BLOG</a></p></li>
			<!-- <li><p><a href="/faq">FAQS</a></p></li> -->
			<li><p><a href="/privacy">PRIVACY POLICY</a></p></li>
			<li><p><a href="/tnc">TERMS & CONDITIONS</a></p></li>
			<li><p><a href="" ng-click="togglePopupContact()">CONTACT US</a></p></li>
		</ul>
		<div class="social-icons">
			<ul>
				<li><a href="http://www.facebook.com/indiancreativeforum" title="facebook"><i class="flaticon-facebook-logo-button"></i></a></li>
				<li><a href="http://www.twitter.com/increativeforum" title="twitter"><i class="flaticon-twitter-logo-button"></i></a></li>
				<li><a href="https://angel.co/indian-creative-forum" title="angelist"><i><img src="../img/angelist.png"></i></a></li>
			</ul>
		</div>
		<p class="copyright-text">&copy; Indian Creative Forum 2016</p>

	</div>
</div>
<div class="login-curtain" ng-show="hidden3">
            
        </div>