<div class="curtain" style="position:absolute;top:0px;left:0;height:100%;width:100%;
        background: rgba(4, 28, 31, 0.72);"></div>


<div class="container landing-container">
	
	<div class="nav-landing" ng-show="loggedOut">
		<ul>
			<li><a ng-href='/request'><h4>TRANXACT</h4></a><p>Request Access</p></li>
		</ul>

		<ul>
			<li><h4><a ng-href="/forum">FORUM</a></h4></li>
			<li><h4><a ng-href="knowledgeCenter">KNOWLEDGE CENTER</a></h4></li>
			<li><h4><a href="http://blog.indiancreativeforum.com">BLOG</a></h4></li>
		</ul>
	</div>

	<div class="title-landing middle" style="top:45%">
		<div class="title-slider">
			<h2 class="slide">
				Generate Contract &nbsp; | &nbsp; Send Invoice &nbsp; | &nbsp; Schedule Reminder. <br><br>
				<span style="font-size:20px;">The boring bits of business you can't do without. <br> We manage it all for you.</span>
			</h2>
			<!-- <h2 class="slide slide2">Tranxact seamlessly in less than 5 minutes</h2>
			<h2 class="slide slide3">Identify the right people for your work, explore your industry- <br> does this sound like a marketplace?</h2>
			<h2 class="slide slide4">Schedule, submit, forget! ICF handles it all for you.</h2> -->
		</div>
	</div>

	<div class="title-landing-2 middle">
	<form ng-submit="requestMail(emailReq)" class="request-form">
			<input type="email" placeholder="Email" ng-model="emailReq">
			<input type="submit" value="Request Access">
		</form>
	</div>

	

	<!-- <div class="btn btn-landing middle" ng-click="togglePopup()" style="top:65%;"><h3>Request Early Access</h3></div> -->

	<div class="nav-landing-footer">
		<ul>
			<li><p><a ng-href="/about">ABOUT</a></p><p>&copy; Indian Creative Forum 2016</p></li>
		</ul>

		<ul>
			<li><p><a ng-href="/privacy">PRIVACY POLICY</a></p></li>
			<li><p><a ng-href="/tnc">TERMS & CONDITIONS</a></p></li>
			<li><p><a ng-click="togglePopupContact()">CONTACT US</a></p></li>
		</ul>
		
		<ul>
			<li>
				<a href="http://www.facebook.com/indiancreativeforum"><i class="flaticon-facebook-logo-button"></i></a>
				<a href="http://www.twitter.com/increativeforum"><i class="flaticon-twitter-logo-button"></i></a>
				<a href="https://angel.co/indian-creative-forum"><i><img src="../img/angelistwhite.png"></i></a>
			</li>
		</ul>
	</div>
		
</div>

