<div class="kc-jumbotron-card">
	<div class="info middle">
		<div class="info-left">
			<img src="img/Business_Basics.png">
		</div>
		<div class="info-right">
			<h1><span>Business</span> Basics</h1>
			<p>There’s no sure key to success, yet when working on a business,<br> there are a few hacks to accelerate your climb.</p>	
		</div>
	</div>
</div>
	
<div class="kcenter-step-bottom">
	<div class="content">
		<div class="content-left">
			<div class="side-menu">
				<p><a href="knowledgeCenter/Identify_The_Right_Creative"><span>Identify</span> The Right Creative</a></p>
				<p><a href="knowledgeCenter/Identify_The_Right_Client"><span>Identify</span> the Right Client</a></p>
				<p><a href="knowledgeCenter/Business_Basics" class="active"><span>Business</span> Basics</a></p>
				<!-- <p><a href="knowledgeCenter/Industry_Work_Standards"><span>Industry</span> Work Standards</a></p> -->
				<p><a href="knowledgeCenter/Protect_Your_Work"><span>Protect</span> Your Work</a></p>
				<p><a href="knowledgeCenter/Conduct_A_Business_Transaction"><span>Conduct</span> a Business Transaction</a></p>
				
			</div>
			
		</div>
		<div class="content-right">
			<p>A transaction is nothing short of being team-work, where both the sides contribute to make the experience a remarkable one.</p>

			<h3>Key Points</h3>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>01</h5>
				</div>
				<div class="keypoints-right">
					<p><span>Step-up the card game.</span> Local cafe, social meetup, public conference- you may bump into a potential client at any place. While it is not expected to carry a flyer or a document detailing your work, having a business card shows your business readiness, and helps eliminate the clumsy scramble for a pen and paper to share your contact details.</p>
				</div>
			</div>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>02</h5>
					<p class="ex-text" ng-click="showEx1()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p><span>Sold in 30 seconds.</span> Imagine bumping into a potential client in an elevator, where you have just about 30 to 60 seconds to get them interested in your work. You need to have a crisp, well-structured speech ready that gives away enough to have them hooked for more.</p>
					<p class="keypoint-ex keypoint-ex1">“Hey, I am Maya. I am a graduate from X Design School. I run a design studio in Delhi, and we have delivered quality work across online marketing and public installation services for clients such as name1, name2, name3. It would be great if we can sit sometime soon, and discuss your upcoming marketing campaign.”</p>
				</div>
			</div>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>03</h5>
					<p class="ex-text" ng-click="showEx2()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p><span>Do not jump the gun.</span> The prospect of an upcoming collaboration sure excites most of us, however before setting up the first meeting with your potential collaborator, insist on going through their portfolio. Make sure your client sees your work before you go for the meeting. Not only does it make your meeting more productive, you would know if you want to go ahead with the meeting in the first place or not.</p>
					<p class="keypoint-ex keypoint-ex2">Maya went to meet Yatin for his next video commercial without sharing her portfolio. It was only at the meeting that he realised that she did not follow the style in her work that he was looking for.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>04</h5>
				</div>
				<div class="keypoints-right">
					<p><span>Take the drink, or offer it.</span> It is common practice in a meeting to offer a drink (tea, coffee, anything) to the other person. As a rule, take it! Not only does it buy you more time, as the person across will necessarily remain seated till the drink is finished, it is also a subtle marker of  professional confidence.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>05</h5>
				</div>
				<div class="keypoints-right">
					<p><span>Ask questions & be a good listener.</span> Interacting with a collaborator, it is obvious that a lot of information is shared between the two sides. Naturally, you are bound to have doubts regarding some aspects. Do not hold yourself back and Google your doubts later. Ask. As simple as that. Be confident for it will clears your doubts, probably even open up avenues for further interaction.

					Take a questionnaire with yourself...to understand the requirements better.
					</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>06</h5>
				</div>
				<div class="keypoints-right">
					<p><span>When money matters.</span> While it is all-too-tempting to take up a project at a cost lower than what you charge just for the sake of getting work. Set your price according to the overall experience you offer, and make sure your client knows that. Do not price your work according to what others are offering, and as a thumb-rule, negotiate.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>07</h5>
					<p class="ex-text" ng-click="showEx3()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p><span>Troubleshoot tax-ing concerns.</span>  As a smart creative professional, make your total cost inclusive of service tax. This means that the client pays a 12.5% rate on the base price, which goes into your taxes.</p>
					<p class="keypoint-ex keypoint-ex3">Maya works on a magazine layout for Rs. 10,000. Being a service provider, she is required to pay a service tax of 12.5% on it, amounting to Rs. 1,250. She avoids this loss having her total amount inclusive of service tax.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>08</h5>
				</div>
				<div class="keypoints-right">
					<p><span>Read up!</span> This applied to both the client and the creative. When meeting or speaking to a prospective collaborator, ensure you have a fair amount of background information on them. Drawing a blank on the kind of work the other person is engaged in is plain awkward. Having this information will allow you to understand their deliverables better, thereby facilitating a successful engagement.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>09</h5>
				</div>
				<div class="keypoints-right">
					<p><span>Make your mark.</span> As a safeguard against possible payment default, always share review work with a watermark on it. Submit the final, non-watermarked product on receiving the final payment from your client.</p>
				</div>
			</div>

			
		</div>

		<p class="content-bottom-cta">Ready to <span>TRANXACT</span> ?</p>

		<div class="content-bottom-share-icons">
			<div class="share-icons">
				<span class='st_facebook_large' displayText='Facebook'></span>
				<span class='st_twitter_large' displayText='Tweet'></span>
				<span class='st_linkedin_large' displayText='LinkedIn'></span>
				<span class='st_email_large' displayText='Email'></span>
			</div>
		</div>

		<p class="content-bottom-feedback">Feel something is missing? <span ng-click="togglePopup()">Fill in the feedback here.</span></p>
	</div>
</div>

<div class="feedback-popup middle" style="position:fixed;">
	<i class="fa fa-times form-close" aria-hidden="true" ng-click="togglePopup()"></i>
	<h3>Hi, {{username}},<br> Please share your valuable feedback!</h3>
	<form method="POST" ng-submit="feedback()" class="form form-feedback">
		<textarea placeholder="write feedback here..." ng-model="feedbackmsg"></textarea>
		<input type="submit" value="Submit">
	</form>
</div>


<div ng-include="'templates/footer.html'"></div>