<div class="kc-jumbotron-card">
	<div class="info middle">
		<div class="info-left">
			<img src="img/step1.png">
		</div>
		<div class="info-right">
			<h1><span>Identify</span> The Right Client</h1>
			<p>We get that not everyone gets you. Therefor we are on a <br>
			mission to help you identify the right creative for you.</p>	
		</div>
	</div>
</div>
	
<div class="kcenter-step-bottom">
	<div class="content">
		<div class="content-left">
			<div class="side-menu">
				<p><a href="knowledgeCenter/Identify_The_Right_Creative"><span>Identify</span> The Right Creative</a></p>
				<p><a href="knowledgeCenter/Identify_The_Right_Client" class="active"><span>Identify</span> the Right Client</a></p>
				<p><a href="knowledgeCenter/Business_Basics"><span>Business</span> Basics</a></p>
				<!-- <p><a href="knowledgeCenter/Industry_Work_Standards"><span>Industry</span> Work Standards</a></p> -->
				<p><a href="knowledgeCenter/Protect_Your_Work"><span>Protect</span> Your Work</a></p>
				<p><a href="knowledgeCenter/Conduct_A_Business_Transaction"><span>Conduct</span> a Business Transaction</a></p>
				
			</div>
			
		</div>
		<div class="content-right">
			<p>Aligning your skills with the client’s vision is a vital aspect of a creative transaction. A great product reflects the aspirations of the commissioner as well as the individuality of the maker.</p>

			<h3>Key Points</h3>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>01</h5>
					<p class="ex-text" ng-click="showEx1()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>Share your portfolio with the client before having an in-person meeting. This ensures they are aware of your design style and go ahead with an in-person meeting only if they are aligned with your style.</p>
					<p class="keypoint-ex keypoint-ex1">Maya was invited to a meeting with Yatin for an installation project. While going through her portfolio during the meeting, Yatin could not discover any synergy with her style and his requirement, making the meeting invalid for both. This could have been avoided had the portfolio been shared prior to going ahead with the meeting itself.</p>
				</div>
			</div>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>02</h5>
					<p class="ex-text" ng-click="showEx2()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>To understand the requirements better it is a great practice to ask for references. It is the closest expression of their mental picture, and helps understand the expectations better.</p>
					<p class="keypoint-ex keypoint-ex2">Maya, who has undertaken a shoot for a video commercial for Yatin, asked him to share links of existing ads which he feels convey the message in a manner he expects from her.</p>
				</div>
			</div>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>03</h5>
				</div>
				<div class="keypoints-right">
					<p>A good way of gauging the client’s creative expectation is by going through their past work of similar nature. Browse through their website or social media pages, if available.</p>	
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>04</h5>
					<p class="ex-text" ng-click="showEx3()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>Wherever possible, reach out to past collaborator’s of your client/creative, and check for reviews online to gain knowledge of the client’s work ethics and practices.</p>
					<p class="keypoint-ex keypoint-ex3">Maya was taking up work with Yatin, but taking a review among her colleagues informed her that Yatin had a history of withholding payment.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>05</h5>
					<p class="ex-text" ng-click="showEx4()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>Commit to a project only when you are confident of the work getting delivered according to the requirements.</p>
					<p class="keypoint-ex keypoint-ex4">Maya has a lot of pending commitment lined up and takes up Yatin’s project, agreeing to his term of delivering within 4 days. She is unable to deliver on the commitment.</p>
				</div>
			</div>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>06</h5>
				</div>
				<div class="keypoints-right">
					<p>Discuss the project budget with the prospective client over email or phone to ensure your deliverables match the budget. Wherever required feel free to provide your input on where the budget needs to be expanded or contracted as the client may not have an in-depth knowledge on the particular creative work, and consequently on the right budget for it. Go ahead with successive discussions only if you feel you can deliver within the budget and scope.</p>
				</div>
			</div>		

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>07</h5>
					<p class="ex-text" ng-click="showEx5()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>It is not unknown of clients to offer ‘long-term relationship’ in exchange for a excessively discounted price. Do not take the bait. There is no guarantee of the work coming back, and the client will tend to ask for similar pricing next time as well.</p>
					<p class="keypoint-ex keypoint-ex5">On Yatin’s assurance of coming back to Maya for future work as well, Maya agreed to collaborate on a project for almost one-fourth of her usual charge. Yatin reached out to Maya again for his next project, but refused to give it to her when she asked for her usual price in place of the previously discounted one.</p>
				</div>
			</div>	

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>08</h5>
					<p class="ex-text" ng-click="showEx6()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>Before going ahead with the project, explicitly discuss the scope of work and terms of payment. It is important to have all the agreed points listed down in an agreement for a seamless creative engagement.</p>
					<p class="keypoint-ex keypoint-ex6">Maya agrees to work with Yatin, who is her sister’s friend. Having known him from before, she foregoes discussing any formal terms and goes ahead with the project on a loosely defined scope. Halfway through the project they have a conflict regarding the payment schedule, and the project is ultimately cancelled.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>09</h5>
				</div>
				<div class="keypoints-right">
					<p>While finalizing the final budget, chances are the client will negotiate. You have the option of either giving a fixed quote and sticking to it, or keep a 10 to 20 percent margin in the quote to accommodate negotiation.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>10</h5>
				</div>
				<div class="keypoints-right">
					<p>When discussing the terms of payment, ensure that the client pays some percent of it as an advance. Having an advance allows you to begin the project with a working capital, and also secures your interest against any termination. An ideal advance can vary between 30 to 50 percent of the total cost.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>11</h5>
				</div>
				<div class="keypoints-right">
					<p>Working with a client is not a trade-off against your individual vision. The reason a person comes to you is because you bring something individual on the board. Therefore, accommodate the requirements and shape them in a manner which is distinctly yours.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>12</h5>
				</div>
				<div class="keypoints-right">
					<p>For a creative, a good collaboration increases the chances of the client coming back manifold. Therefore, invest in building a healthy work relationship. You can practice this by improving the quality of your interaction and delivering not just the product, but a seamless work experience as well.</p>
				</div>
			</div>

			
		</div>

		<p class="content-bottom-cta">Ready to <span>TRANXACT</span> ?</p>

		<div class="content-bottom-share-icons">
			<div class="share-icons">
				<span class='st_facebook_large' displayText='Facebook'></span>
				<span class='st_twitter_large' displayText='Tweet'></span>
				<span class='st_linkedin_large' displayText='LinkedIn'></span>
				<span class='st_email_large' displayText='Email'></span>
			</div>
		</div>

		<p class="content-bottom-feedback">Feel something is missing? <span ng-click="togglePopup()">Fill in the feedback here.</span></p>
	</div>
</div>
<div class="feedback-popup middle" style="position:fixed;">
	<i class="fa fa-times form-close" aria-hidden="true" ng-click="togglePopup()"></i>
	<h3>Hi, {{username}},<br> Please share your valuable feedback!</h3>
	<form method="POST" ng-submit="feedback()" class="form form-feedback">
		<textarea placeholder="write feedback here..." ng-model="feedbackmsg"></textarea>
		<input type="submit" value="Submit">
	</form>
</div>
<div ng-include="'templates/footer.html'"></div>