<div class="kc-jumbotron-card">
	<div class="info middle">
		<div class="info-left">
			<img src="img/Industry_Work_Standards2.png">
		</div>
		<div class="info-right">
			<h1><span>Identify</span> the Right Creative</h1>
			<p>We get that not everyone gets you. Therefore we are on a <br>
			mission to help you identify the right creative for you.</p>	
		</div>
	</div>
</div>
	
<div class="kcenter-step-bottom">
	<div class="content">
		<div class="content-left">
			<div class="side-menu">
				<p><a href="knowledgeCenter/Identify_The_Right_Creative" class="active"><span>Identify</span> The Right Creative</a></p>
				<p><a href="knowledgeCenter/Identify_The_Right_Client"><span>Identify</span> the Right Client</a></p>
				<p><a href="knowledgeCenter/Business_Basics"><span>Business</span> Basics</a></p>
				<!-- <p><a href="knowledgeCenter/Industry_Work_Standards"><span>Industry</span> Work Standards</a></p> -->
				<p><a href="knowledgeCenter/Protect_Your_Work"><span>Protect</span> Your Work</a></p>
				<p><a href="knowledgeCenter/Conduct_A_Business_Transaction"><span>Conduct</span> a Business Transaction</a></p>
				
			</div>
			
		</div>
		<div class="content-right">
			<p>A transaction is nothing short of team-work, and we are here to help identify your perfect teammate. A great way to begin is by looking up people on hiring portals. You may also ask in your network to recommend someone they have previously worked with.</p>

			<h3>Key Points</h3>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>01</h5>
					<p class="ex-text" ng-click="showEx1()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>As a first, have a look at the creative’s portfolio; it is a good reflector of their previous work. As a rule, do this exercise before meeting/ speaking further to make your next discussion more productive!</p>
					<p class="keypoint-ex keypoint-ex1">Yatin went to meet Maya for his next video commercial without going through the portfolio she had provided. It was only at the meeting that he realised that she did not follow the style in her work that he was looking for.</p>
				</div>
			</div>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>02</h5>
					<p class="ex-text" ng-click="showEx2()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>Before commissioning a project, meet the creative to discuss your project requirements. Commission the project only when you are confident of the work getting delivered according to your requirements.</p>
					<p class="keypoint-ex keypoint-ex2">On his first meeting to discuss her new logo design with Maya, Yatin makes sure to provide a detailed description of what he is looking for and where the logo will be used.He takes estimates from Maya on the budget, along with mentioning the timeframe he’s looking at.</p>
				</div>
			</div>
			<div class="keypoints">
				<div class="keypoints-left">
					<h5>03</h5>
					<p class="ex-text" ng-click="showEx3()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>Wherever possible, reach out to past collaborators of your creative, and check for reviews online to gain knowledge of the creative’s work ethics and practices.</p>
					<p class="keypoint-ex keypoint-ex3">Most online hiring portals have user testimonials that you can go through. If the creative has been referred by an acquaintance, ask for their feedback as well.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>04</h5>
					<p class="ex-text" ng-click="showEx4()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>When discussing the deliverables, explicitly spell out your terms of work and payment. At the same time, be open to accommodating the creatives’ viewpoint as well. Make it a point to follow this practice even when you have a collaboration history or the creative is a friend/relative.</p>
					<p class="keypoint-ex keypoint-ex4">Yatin commissioned his project to a friend, and felt no need to discuss the payment schedule because of their personal association. Midway through the work, they developed a misunderstanding regarding the advance and final pay since terms were not clearly listed out for either of them.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>05</h5>
					<p class="ex-text" ng-click="showEx5()">Ex</p>
				</div>
				<div class="keypoints-right">
					<p>Initially, engage with a creative for smaller/pilot projects. Commission a big project only when you have developed a good working relationship.</p>
					<p class="keypoint-ex keypoint-ex5">Yatin was working with Maya for the first time, and asked her to design for 5 different projects at his company, paying advance accordingly. Mid-way he realised that the transaction was not turning out the way he had imagined.</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>06</h5>
				</div>
				<div class="keypoints-right">
					<p>Once you have the creative on-board, make sure to establish a good communication channel. Discuss the progress, and provide regular feedback; it eliminates changes at a later date, and ensures the project remains a teamwork!</p>
				</div>
			</div>

			<div class="keypoints">
				<div class="keypoints-left">
					<h5>07</h5>
				</div>
				<div class="keypoints-right">
					<p>Developing a healthy relationship early on will save a considerable time for you in the future. If the work is not turning out the way you had expected, you communicate the same constructively, and look for another creative for projects ahead.</p>
				</div>
			</div>

			
		</div>

		<p class="content-bottom-cta">Ready to <span>TRANXACT</span> ?</p>


		<div class="content-bottom-share-icons">
			<div class="share-icons">
				<span class='st_facebook_large' displayText='Facebook'></span>
				<span class='st_twitter_large' displayText='Tweet'></span>
				<span class='st_linkedin_large' displayText='LinkedIn'></span>
				<span class='st_email_large' displayText='Email'></span>
			</div>
		</div>

		<p class="content-bottom-feedback">Feel something is missing? <span ng-click="togglePopup()">Fill in the feedback here.</span></p>
		
	</div>
</div>


<div class="feedback-popup middle" style="position:fixed;">
	<i class="fa fa-times form-close" aria-hidden="true" ng-click="togglePopup()"></i>
	<h3>Hi, {{username}},<br> Please share your valuable feedback!</h3>
	<form method="POST" ng-submit="feedback()" class="form form-feedback">
		<textarea placeholder="write feedback here..." ng-model="feedbackmsg"></textarea>
		<input type="submit" value="Submit">
	</form>
</div>

<div ng-include="'templates/footer.html'"></div>