<div class="kc-jumbotron">
	<div ng-include="'templates/header_sec.html'"></div>
</div>

<div class="kc-jumbotron-patch">
	<div class="kc-card-content">
		<div class="kc-jumbotron-img">
			<img src="../img/kc.png">
		</div>
		<h3>Knowledge Center</h3>
		<p>Knowledge about your industry and its work practices, along with an insight on conducting a business, are essential for any professional. We have put together a comprehensive collection of information to empower your collaborations, and enable you to incorporate the best practices in your work.


		</p>
	</div>	 
</div>

<div class="kc-bottom">
	<div class="kc-cards">
		<a class="kc-card-single kc-card-single1" ng-click="kcenter1()">
			<h4>Identify The Right Creative</h4>
			<div class="kc-card-single-after kc-card-single-after1">
				<div class="kc-card-content">
					<hr class="kc-card-strip"><br>
					<p>We get that not everyone gets <br>	
					you. Therefore we are on a <br>
					mission to help your identity <br>
					the right creative for you.</p>	
				</div>			
			</div>
		</a>
		<a class="kc-card-single kc-card-single4" ng-click="kcenter2()">
			<h4>Identify The Right Client</h4>
			<div class="kc-card-single-after kc-card-single-after4">
				<div class="kc-card-content">
					<hr class="kc-card-strip"><br>
					<p>When it comes to working with clients, it is not enough to know your trade. Discover ways to identify the right person to work with for a successful engagement.</p>	
				</div>
			</div>
		</a>
		<a class="kc-card-single kc-card-single6" ng-click="kcenter3()">
			<h4>Business Basics</h4>
			<div class="kc-card-single-after kc-card-single-after6">
					<div class="kc-card-content">
						<hr class="kc-card-strip"><br>
						<p>Every professional needs to master their trade, and what better than an ICF-collected repository of nitty gritties in your domain.</p>	
				</div>
			</div>
		</a>
		<!-- ng-href="knowledgeCenter/Industry_Work_Standards" -->
		<a class="kc-card-single kc-card-single2">
		<h4>Industry Work Standards</h4>
			<div class="kc-card-single-after kc-card-single-after2">
				<div class="kc-card-content">
					<h3>Coming Soon</h3>
					<hr class="kc-card-strip"><br>
					<p>Every professional needs to master their trade, and what better than an ICF-collected repository of nitty gritties in your domain.</p>	
				</div>
			</div>
		</a>
		<a class="kc-card-single kc-card-single5" ng-click="kcenter5()">
		 	<h4>Protect Your Work</h4>
			<div class="kc-card-single-after kc-card-single-after5">
				<div class="kc-card-content">
					<hr class="kc-card-strip"><br>
					<p>A creative work is the result of an artist’s imagination, which needs safeguards to protect its integrity from plagiarism and misuse.</p>	
				</div>
			</div>
		</a>
		<a class="kc-card-single kc-card-single3" ng-click="kcenter6()">
			<h4>Conduct A Business Transaction</h4>
			<div class="kc-card-single-after kc-card-single-after3">
				<div class="kc-card-content">
					<hr class="kc-card-strip"><br>
					<p>Relationships are based on the quality of a transaction, therefore following a good conduct is an imperative for ensuring a good work experience.</p>	
				</div>
			</div>
		</a>
		<div class="kc-card-single-b kc-card-single-b-1">
			<div class="kc-card-single-b-content">
				<i class="flaticon-technology middle-y"></i>
				<p><span>Video</span> Library</p>
				<div class="kc-card-single-after kc-card-single-after15">
					<h3 class="middle">Coming Soon</h3>
				</div>
			</div>
		</div>
		<div class="kc-card-single-b kc-card-single-b-2">
			<div class="kc-card-single-b-content">
				<i class="fa fa-microphone middle-y audio-library"></i>
				<p><span>Audio</span> Library</p>
			</div>
			<div class="kc-card-single-after kc-card-single-after16">
				<h3 class="middle">Coming Soon</h3>
			</div>
		</div>
	</div>
</div>

<div ng-include="'templates/footer.html'"></div>