<div class="kc-jumbotron">
	<div class="f-jumbotron-layer">

	</div>			
</div>

<div class="kc-jumbotron-patch">
	<div class="kc-card-content">
		<div class="kc-jumbotron-img">
			<img src="../img/kc_3.png">
		</div>
		<h3>Protect Your Work</h3>
		<p>Knowledge about your industry and its work practices, along with an insight on conducting a business, are essential for any professional. We have put together a comprehensive collection of information to empower your collaborations, and enable you to incorporate the best practices in your work.


		</p>
	</div>	 
</div>

<div class="kc-bottom">
	<div class="kc-cards">
		<a class="kc-card-single kc-card-single10" ng-click="kcenter4()">
			<h4>Copyright Your Work</h4>
			<div class="kc-card-single-after kc-card-single-after10">
				<div class="kc-card-content">
					<hr class="kc-card-strip"><br>
					<p>We get that not everyone gets <br>	
					you. Therefore we are on a <br>
					mission to help your identity <br>
					the right creative for you.</p>	
				</div>			
			</div>
		</a>
		<a class="kc-card-single kc-card-single11" ng-click="kcenter5()">
			<h4>Patent Your Invention</h4>
			<div class="kc-card-single-after kc-card-single-after11">
				<div class="kc-card-content">
					<hr class="kc-card-strip"><br>
					<p>When it comes to working with clients, it is not enough to know your trade. Discover ways to identify the right person to work with for a successful engagement.</p>	
				</div>
			</div>
		</a>
		<a class="kc-card-single kc-card-single12" ng-click="kcenter6()">
			<h4>Trademark Your Brand</h4>
			<div class="kc-card-single-after kc-card-single-after12">
					<div class="kc-card-content">
						<hr class="kc-card-strip"><br>
						<p>Every professional needs to master their trade, and what better than an ICF-collected repository of nitty gritties in your domain.</p>	
				</div>
			</div>
		</a>
		<a class="kc-card-single kc-card-single13" ng-click="kcenter7()">
		<h4>Prevention And Cure</h4>
			<div class="kc-card-single-after kc-card-single-after13">
				<div class="kc-card-content">
					<h3>Coming Soon</h3>
					<hr class="kc-card-strip"><br>
					<p>Every professional needs to master their trade, and what better than an ICF-collected repository of nitty gritties in your domain.</p>	
				</div>
			</div>
		</a>
	</div>
</div>

<div ng-include="'templates/footer.html'"></div>